.post-body {
    color: #d4d4d4;
}
code:not([class^="language-"]) {
    color: #cfb379;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px;
}
td, th {
    padding: 1px 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #b9b9b9;
}
input {
    color: black;
}

:root {
    --scrollbarTrackColor: #00000033;
    --scrollbarThumbColor: #00000080;
    width: 300px;
    height: 100px;
    scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarTrackColor);
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbarTrackColor);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(scrollbarThumbColor);
    border-radius: 10px;
}
